# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

In [3]:
# Write the query
query = """
SELECT * FROM cardholder_transaction;
"""

In [4]:
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
transaction_df = pd.read_sql(query, engine)
# Display sample data of the dataframe
transaction_df.head()

  cardholder_name creditcard_number  amount    transaction_date
0   Michael Floyd  4834483169177062    2.00 2018-05-25 05:01:40
1     Sara Cooper     4276466390111   12.50 2018-11-14 12:30:26
2     Kyle Tucker  6500236164848279   20.81 2018-06-15 16:47:37
3   Kevin Spencer  4506405265172173   17.80 2018-12-26 04:27:11
4     John Martin  4711773125020499    2.17 2018-01-20 10:50:36

In [5]:
# Write function that locates outliers using standard deviation

In [6]:
# Find anomalous transactions for 3 random card holders

## Identifying Outliers Using Interquartile Range

In [7]:
# Write a function that locates outliers using interquartile range

In [8]:
# Find anomalous transactions for 3 random card holders